<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>clickhouse service配置</description>
	<!-- 根据tableId获取数据库表字段类型 -->
	<bean id="iClickHouseBusiService" class="com.ohaotian.clickhouse.service.impl.ClickHouseBusiServiceImpl">
		<property name="checkResultMapper" ref="checkResultMapper" />
	</bean>
	<bean id="createBaseTableService" class="com.ohaotian.clickhouse.service.impl.CreateBaseTableServiceImpl">
		<property name="checkResultMapper" ref="checkResultMapper" />
		<property name="prop" ref="propertyConfigurer" />
	</bean>
</beans>
